{
  "token": "", // discord bot token
  "clientId": "", // bot id
  "guildId": "", // test server id
  "faceitKey": "", // faceit api key
  "faceitOauthId": "",
  "faceitOauthSecret": "",
  "expressHost: "",
  "expressPort": ,
  "mongodbUrl": "",
  "faceitloginurl": "",
  "cookieSecret": "noneedtochangeifindev",
  "faceitauthorizationURL": "",
  "faceittokenURL": ""
}
